button {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 120px;
  height: 40px;
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  transition: all 0.3s ease-in-out;
  margin: 10px;
  display: inline-block;
}

button:hover {
  transform: scale(0.95);
  color: #fff;
}

.button-heroku {
  border-color: #007bff;
  color: #007bff;
}

.button-heroku:hover {
  background-color: #007bff;
}

.button-koyeb {
  border-color: #34c759;
  color: #34c759;
}

.button-koyeb:hover {
  background-color: #34c759;
}

.button-vps {
  border-color: #6c5ce7;
  color: #6c5ce7;
}

.button-vps:hover {
  background-color: #6c5ce7;
}
